.nav.fl {
    margin-right: 0 !important;
}

@media only screen and (min-width: 1024px) {

}

@media screen  and (max-width: 1024px) {
    .col-full, #wrapper {
        max-width: none !important;
        margin: 0 !important;
    }

    #wrapper {
        padding: 0 !important;
        overflow-y: visible !important;
        overflow-x: hidden !important;
    }

    .nav-toggle, .nav-close, .nav-home {
        display: block !important;
    }

    #nav-container {
        border-width: 0 !important;
    }

    #header {
        background-size: cover !important;
    }

    #nav-container {
        margin: 0 0 1em 0 !important;
    }

    #navigation .menus {
        clear: both !important;
    }

    .csstransforms3d.csstransitions .show-nav #inner-wrapper {
        -webkit-transform: translate3d(80%, 0, 0) !important;
        -moz-transform: translate3d(80%, 0, 0) !important;
        -ms-transform: translate3d(80%, 0, 0) !important;
        -o-transform: translate3d(80%, 0, 0) !important;
        transform: translate3d(80%, 0, 0) !important;
        -webkit-transform-origin: 50% 0% !important;
        -moz-transform-origin: 50% 0% !important;
        -ms-transform-origin: 50% 0% !important;
        -o-transform-origin: 50% 0% !important;
        transform-origin: 50% 0% !important;
    }

    .csstransforms3d.csstransitions #inner-wrapper {
        left: 0 !important;
        -webkit-transform: translate3d(0, 0, 0) !important;
        -moz-transform: translate3d(0, 0, 0) !important;
        -ms-transform: translate3d(0, 0, 0) !important;
        -o-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
        -webkit-transition: -webkit-transform 200ms ease !important;
        -moz-transition: -moz-transform 200ms ease !important;
        -o-transition: -o-transform 200ms ease !important;
        transition: transform 200ms ease !important;
        -webkit-backface-visibility: hidden !important;
        -moz-backface-visibility: hidden !important;
        -ms-backface-visibility: hidden !important;
        -o-backface-visibility: hidden !important;
        backface-visibility: hidden !important;
    }

    .csstransforms3d.csstransitions .show-nav #navigation {
        -webkit-transform: translate3d(-100%, 0, 0) !important;
        -moz-transform: translate3d(-100%, 0, 0) !important;
        -ms-transform: translate3d(-100%, 0, 0) !important;
        -o-transform: translate3d(-100%, 0, 0) !important;
        transform: translate3d(-100%, 0, 0) !important;
    }

    .csstransforms3d.csstransitions #navigation {
        left: 0 !important;
        -webkit-transform: translate3d(-100%, 0, 0) !important;
        -moz-transform: translate3d(-100%, 0, 0) !important;
        -ms-transform: translate3d(-100%, 0, 0) !important;
        -o-transform: translate3d(-100%, 0, 0) !important;
        transform: translate3d(-100%, 0, 0) !important;
        -webkit-backface-visibility: hidden !important;
        -moz-backface-visibility: hidden !important;
        -ms-backface-visibility: hidden !important;
        -o-backface-visibility: hidden !important;
        backface-visibility: hidden !important;
    }

    #navigation {
        font-weight: 400 !important;
    }

    ul.nav, ul.nav ul {
        border: none !important;
    }

    #navigation ul.nav > li {
        border-right: none !important;
    }

    #navigation ul.rss {
        right: 49px !important;
        float: none !important;
        margin: 0 !important;
        position: absolute !important;
        top: 14px !important;
    }

    #navigation {
        clear: both;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 80%;
        left: -80%;
        position: absolute;
        top: 0;
        min-height: 100%;
        z-index: 9000;
        padding-top: 4.236em;
        margin-bottom: 3em;
        font: 300 14px/1.2 "Helvetica Neue", sans-serif;
        background: #f0f0f0 !important;
    }

    #navigation ul {
        margin-bottom: 1.618em !important;
    }

    #navigation h3 {
        display: block !important;
    }

    #navigation ul.rss {
        /*height: 28px !important;*/
    }

    #navigation ul.rss li a:before {
        line-height: 2 !important;
    }

    .full-width #navigation ul.rss li a {
        background: #999 !important;
        border-radius: 3px !important;
        position: relative;
        top: 0;
        left: 0;
        margin-left: .5em;
        padding: .57em !important;
    }

    ul.nav li {
        float: none;
    }

    .fl {
        float: none;
    }
    #navigation ul.nav li a {
        padding: .5em 1em!important;
        display: block!important;
        color: #666!important;
        font: 300 14px/1.2 "Helvetica Neue", sans-serif!important;
    }
    #nav-container #navigation ul.nav li.current-menu-item a {
        background: #e6e6e6!important;
        color: #666!important;
    }
    /*#navigation ul.nav li.current-menu-item a*/
}

@media screen and  (max-width: 768px) {
    .full-width #navigation ul.rss li a {
        padding: .5em !important;
    }
}